* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0ddd8;
  font-family: monospace;
}

.app-button {
  text-align: center;
  margin-bottom: 30px;
}

button {
  padding: 4px;
  background-color: #f7b1fc;
  border: 1px solid #f0ddd8;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #ecd4e0;
  color: #ed7668;
  border: 1px solid #ecd4e0;
}

.app-container {
  background-color: #000;
  color: #b09ad9;
  padding: 40px;
  width: 700px;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin-bottom: 15px;
  line-height: 1.5;
}

.heading h1 {
  font-size: 30px;
}

.heading p {
  font-size: 15px;
}

.image-container {
  width: 700px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.image-gallery img {
  object-fit: cover;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.image-gallery img:hover {
  transform: scale(1.5);
}

#main {
  transition: all 200ms ease-in-out;
  width: 600px;
  height: 450px;
  margin-bottom: 20px;
  text-align: center;
  object-fit: cover;
  border-radius: 10px;
}

#main:hover {
  transform: scale(1.18);
}

.app-details {
  display: block;
  margin-bottom: 20px;
}

.app-details h5 {
  font-size: 20px;
  font-weight: 100;
}

.app-details button {
  text-align: center;
  padding: 10px;
  font-size: 15px;
  margin-top: 20px;
}

.app-details button a {
  text-decoration: none;
  color: #000;
}

footer {
  display: block;
  text-align: center;
  margin: 30px 0px 30px 0px;
}
